{% extends 'users/base.html' %}

{% block nav %}
    <div class="navbar">
        <a class="active" href="{% url 'home' %}"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        {% if user.is_authenticated %}
            <a href="#"><i class="fa fa-fw fa-user"></i> Log out</a>
        {% else %}
            {{ user.username }}
            <a href="{% url 'users:login' %}"><i class="fa fa-fw fa-sign-in"></i> Login</a>
            <a href="{% url 'users:signup' %}"><i class="fa fa-fw fa-sign-out"></i> Sign up</a>
        {% endif %}
    </div>
{% endblock %}



